body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: navy;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%;
}

.image-container {
    margin-right: 20px; /* Adiciona espaçamento entre o elevador e o painel */
}

.image-container img {
    max-width: 300px; /* Reduzindo o tamanho da imagem do elevador */
}

.panel {
    width: 250px; /* Aumenta a largura do painel */
    background-color: #f0f0f0; /* Cor de fundo do painel */
    border: 1px solid #ccc; /* Borda do painel */
    padding: 10px; /* Espaçamento interno do painel */
    text-align: center; /* Centraliza os elementos dentro do painel */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.button-container input[type="text"] {
    display: block;
    width: calc(100% - 10px); /* Reduz um pouco a largura do input */
    padding: 5px;
    margin-bottom: 10px; /* Espaçamento inferior */
    border-radius: 5px; /* Adiciona cantos arredondados */
    color: red; /* Pinta o texto de vermelho */
    font-size: 20px; /* Aumenta o tamanho do texto */
    text-align: center; /* Centraliza o texto */
}

.button-container button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: calc(100% - 10px); /* Reduz um pouco a largura do botão */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
}

.button-container button:disabled {
    pointer-events: none;
}

.button-container button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-container button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Estilo para botões desativados */
.button-container button:disabled {
    opacity: 0.5; /* Reduz a opacidade para indicar que está desativado */
    cursor: not-allowed; /* Altera o cursor para indicar que está desativado */
}

#elevador{
    max-width: 300px;
}

